services:
  _defaults:
    autowire: true
    autoconfigure: true

  Tourze\JsonRPCContainerBundle\Service\:
    resource: '../../Service/'
    public: true

  # ServiceLocator for JsonRPC method resolution, populated by CompilerPass
  json_rpc_http_server.service_locator.method_resolver:
    class: Symfony\Component\DependencyInjection\ServiceLocator
    tags: [ 'container.service_locator' ]
    arguments:
      - []

  Tourze\JsonRPC\Core\Domain\JsonRpcMethodResolverInterface:
    alias: Tourze\JsonRPCContainerBundle\Service\MethodResolver
    public: true

  # Procedure -> Param mapping registry, populated by CompilerPass
  Tourze\JsonRPCContainerBundle\Service\ProcedureParamRegistry:
    arguments:
      - []

  Tourze\JsonRPC\Core\Contracts\ProcedureParamRegistryInterface:
    alias: Tourze\JsonRPCContainerBundle\Service\ProcedureParamRegistry
    public: true
